.nature-image {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
  .nature-image img {
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
  }
  
  .nature-image h1 {
    position: relative;
    z-index: 1;
  }
  